/* Base Styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #111010;
}

main.content {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #020202;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #c0288acf;
}