body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9e3;
    color: #111010;
}

main.content {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #020202;
    max-width: 100%;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #c0288acf;
}

nav a:visited {
    color: #8a2be2; /* Changed link color */
}

nav a:active {
    color: #ff4500; /* Changed when link is clicked */
}

a:visited {
    color: #8a2be2; /* Changed visited link color */
}

a:active {
    color: #ff4500; /* Changed when link is clicked */
}   

header {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px; 
    background-color: #020202;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;  
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f9e3;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #0f0e0e;
    padding-bottom: 5px;
}

li::marker {
    content: '* ';
    font-size: 1.2em;
  }

img {
    border-radius: 10px;
    margin-top: 10px;
}

/* flexbox styles */

#restaurants {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

#restaurants div {
    flex: 1 1 calc(50% - 20px); /* Two columns layout */
    min-width: 500px; 
    justify-content: space-between;
}

/*table styles */

table {
    width: 100%;
    margin-top: 20px;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border: 0.5px solid #ddd;
}

table th {
    background-color: #000000;
    color: white;
}

table td {
    padding: 10px;
    border: 1px solid #ddd; 
}

table tr:nth-child(even) {
    background-color: #f4f4f4;
}

/* form styles */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /*subscribe box*/
    margin-bottom: 5px;
}

form input, form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #000000;
    color: #f4f4f9e3;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #c0288acf; /* Changed submit button styling */
}

footer {
    background-color:#f4f4f9e3;
    color: black;
    text-align: center;
    padding: 20px;
    position: relative; 
    bottom: 0;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
